{% extends 'base.html.twig' %}
{% block title %}Forgot password{% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="main-panel">
            {{ include('navigation.html.twig') }}
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Forgot Password</h4>
                        {{ form(form)}}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
