{% extends 'base.html.twig' %}

{% block title %} Index {% endblock %}
{% block body %}
    <div class="wrapper ">
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon">
                                        <h2>01</h2>
                                    </div>
                                </div>
                                <h4 class="p-lg-3">Prishtine</h4>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">search</i> Kerko ketu
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon">
                                        <h2>01</h2>
                                    </div>
                                </div>
                                <h4 class="p-lg-3">Mitrovica</h4>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">search</i> Kerko ketu
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-danger card-header-icon">
                                    <div class="card-icon">
                                        <h2>03</h2>
                                    </div>
                                </div>
                                <h4 class="p-lg-3">Gjilan</h4>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">search</i> Kerko ketu
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-info card-header-icon">
                                    <div class="card-icon">
                                        <h2>04</h2>
                                    </div>
                                </div>
                                <h4 class="p-lg-3">Prizren</h4>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">search</i> Kerko ketu
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon">
                                        <h2>05</h2>
                                    </div>
                                </div>
                                <h4 class="p-lg-3">Ferizaj</h4>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">search</i> Kerko ketu
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon">
                                        <h2>06</h2>
                                    </div>
                                </div>
                                <h4 class="p-lg-3">Peja</h4>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">search</i> Kerko ketu
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">

                                    <div class="card-icon">
                                        <h2>07</h2>
                                    </div>
                                </div>
                                <h4 class="p-lg-3">Gjakova33</h4>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">search</i> Kerko ketu
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                        <ul>
                            <li>
                                <a href="https://www.creative-tim.com">
                                    Creative Tim
                                </a>
                            </li>
                            <li>
                                <a href="https://creative-tim.com/presentation">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.creative-tim.com">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="https://www.creative-tim.com/license">
                                    Licenses
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made with <i class="material-icons">favorite</i> by
                        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
                    </div>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}



