{% extends 'base.html.twig' %}
{% block title %} Edit Restaurant {% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="main-panel">
            {{ include('navigation.html.twig') }}
            <h1>Restaurants</h1>

            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
