<div class="sidebar" data-color="purple" data-background-color="white">
    <div class="logo">
        <a href="{{ path('homepage') }}" class="simple-text logo-normal">
            BB project
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}
            <li class="nav-item {% if app.request.attributes.get('_route') == 'user' %}active{% endif %} ">
                <a class="nav-link" href="{{ path('user') }}">
                    <i class="material-icons">people_outlin</i>
                    <p>Users`s</p>
                </a>
            </li>
            {% endif %}
            <li class="nav-item {% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %} ">
                <a class="nav-link" href="{{ path('homepage') }}">
                    <i class="material-icons">dashboard</i>
                    <p>Region`s</p>
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') == 'restaurants' %}active{% endif %}">
                <a class="nav-link" href="{{ path('restaurants') }}">
                    <i class="material-icons">restaurants</i>
                    <p>Restaurant`s</p>
                </a>
            </li>
        </ul>
    </div>
</div>
