{% extends 'base.html.twig' %}
{% block title %} Edit User {% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="main-panel">
            {{ include('navigation.html.twig') }}
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Edit User</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_row(form.isActive, {label_attr: {class: 'checkbox-custom'} }) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
