{% extends 'base.html.twig' %}
{% block title %} My Restaurant {% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="main-panel">
            {{ include('navigation.html.twig') }}

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <h2>My Reservations </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
